body {
    background-color: #222;
}

.app {
    color: #fff;
    text-align: center;

    &--title {
        font-size: 50px;
        font-weight: bold;
    }

    &--waiting {
        animation: fade 2s infinite;
        font-size: 20px;
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
