.board {
    color: #fff;
    margin: 50px auto;
    max-width: 500px;
    position: relative;

    &--button {
        background-color: #5551D9;
        border-color: #5551D9;
        border-radius: 5px;
        color: #ccc;
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
        padding: 20px;
        width: 30%;
    }

    &--waiting {
        position: absolute;
    }

    .tile {
        border: 1px solid #737377;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        min-height: 160px;
        position: relative;
        width: calc(100% / 3);

        &--content {
            font-family: Helvetica, Arial, 'Sans serif';
            font-size: 100px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
