.board {
    height: 500px;
    left: 50%;
    max-width: 500px;
    position: relative;
    transform: translateX(-50%);

    &--container {
        animation: fadeIn 1.5s;
        color: #fff;

        &-result {
            bottom: -150px;
            font-size: 30px;
            left: 50%;
            padding: 10px;
            position: absolute;
            transform: translateX(-50%);
            width: 100%;
        }

        &-button {
            background-color: #5551D9;
            border: 1px;
            border-radius: 5px;
            color: #ccc;
            font-size: 20px;
            font-weight: bold;
            margin-top: 30px;
            max-width: 200px;
            padding: 20px;
        }
    }

    .tile {
        border: 1px solid #737377;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        min-height: 160px;
        position: relative;
        width: calc(100% / 3);

        &--content {
            font-family: Helvetica, Arial, 'Sans serif';
            font-size: 100px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);

            &_winner {
                animation: fade 1s infinite;
                color: #5551D9;
            }
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }

    50% { opacity: .5; }

    100% { opacity: 1; }
}

@keyframes fade {
    0% { opacity: .5; }

    50% { opacity: 1; }

    100% { opacity: .5; }
}
